.containerBtn {
  --bg-html: #343434;
  --bg-body: #7d7d7d;
  --color-font: #ffffff;
  /* colores navbar */
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
}

.btn {
  border: 0.15em solid var(--glow-color);
  border-radius: 0.5em;
  color: var(--glow-color);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--color-body);
  text-shadow: 0 0 0.5em var(--glow-color);
  padding: 5px 20px 5px 20px;
}

.btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
