/* colores navbar */
.mainBody {
  width: 60vw;
  background: #7d7d7d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainBody .container {
    padding-top: 5vw;
    padding-bottom: 5vw; }

.mainHeader {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mainHeader .containerTextTitle {
    width: 35vw;
    display: flex;
    justify-content: center; }
    .mainHeader .containerTextTitle .textTitle {
      text-align: center;
      font-size: 4.5vw;
      color: #e7ceff;
      text-shadow: 0 0 0.5em #d9b0ff; }
  .mainHeader .containerImage {
    margin-top: 1vw;
    width: 35vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .mainHeader .containerImage .img {
      margin: 0.5vw; }

@media (min-width: 350px) and (max-width: 999px) {
  .mainHeader .containerImage .img {
    width: 40px;
    height: 40px; } }
.mainKnowMe {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw; }
  .mainKnowMe .containerPaperText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainKnowMe .containerPaperText .titleText {
      font-size: 3vw;
      color: #e7ceff;
      text-shadow: 0 0 0.5em #d9b0ff; }
    .mainKnowMe .containerPaperText .containerText {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .mainKnowMe .containerPaperText .containerText .text {
        width: 35vw;
        font-size: 1.2vw;
        color: #d9b0ff; }
  .mainKnowMe .line {
    width: 40vw;
    border-bottom: 1px solid #e7ceff; }
  .mainKnowMe .containerDocs {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .mainKnowMe .containerDocs .containerPaper {
      padding-top: 2vw;
      padding-left: 10vw;
      width: 30vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow-x: auto; }
      .mainKnowMe .containerDocs .containerPaper .imgKnow {
        padding-left: 1vw;
        width: 15vw;
        height: 10vw; }
  .mainKnowMe .containerRrss {
    margin-top: 3vw;
    margin-bottom: 1vw; }
    .mainKnowMe .containerRrss .iconsRrss {
      margin-left: 0.5vw; }

@media (min-width: 350px) and (max-width: 999px) {
  .mainKnowMe .containerDocs .containerPaper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 1vw;
    padding-left: 1vw; }
    .mainKnowMe .containerDocs .containerPaper .imgKnow {
      width: 30vw;
      height: 20vw; }
  .mainKnowMe .containerRrss .iconsRrss {
    width: 30px;
    height: 30px; } }
.containerProject {
  padding-bottom: 1vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .containerProject .titleProject {
    font-size: 3vw;
    color: #e7ceff;
    text-shadow: 0 0 0.5em #d9b0ff;
    padding-bottom: 1.5vw; }
  .containerProject .containerProjects {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto; }
    .containerProject .containerProjects .imgProject {
      padding: 0.5vw;
      width: 18vw;
      height: 10vw; }

@media (min-width: 350px) and (max-width: 999px) {
  .containerProject .containerProjects {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; }
    .containerProject .containerProjects .imgProject {
      width: 30vw;
      height: 15vw; } }
.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7ceff; }
  .containerFooter .line {
    width: 40vw;
    border-bottom: 1px solid #e7ceff; }
  .containerFooter .text {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    gap: 2vw; }

.btn {
  border: 0.15em solid #d9b0ff;
  border-radius: 0.5em;
  color: #d9b0ff;
  font-size: 1em;
  font-weight: bold;
  background: #7d7d7d;
  text-shadow: 0 0 0.5em #d9b0ff;
  padding: 0.8vw 1.3vw 0.8vw 1.3vw; }
  .btn:hover {
    color: #643d88;
    background: #d9b0ff;
    box-shadow: 0 0 1em 0.25em #d9b0ff, 0 0 4em 2em rgba(191, 123, 255, 0.781), inset 0 0 0.75em 0.25em #d9b0ff; }
  .btn:active {
    box-shadow: 0 0 0.6em 0.25em #d9b0ff, 0 0 2.5em 2em rgba(191, 123, 255, 0.781), inset 0 0 0.5em 0.25em #d9b0ff; }

.containerCertificate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .containerCertificate .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw; }
    .containerCertificate .content .mainTitle {
      color: #e7ceff;
      text-shadow: 0 0 0.5em #d9b0ff; }
    .containerCertificate .content .certificateImg {
      box-shadow: 0 0 0.5em 0.25em #d9b0ff, 0 0 4em 1em rgba(191, 123, 255, 0.781), inset 0 0 0.75em 0.25em #d9b0ff; }

.main {
  background: #343434;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*# sourceMappingURL=globals.css.map */
