:root {
  --bg-html: #000000;
  --bg-body: #505050;
  --color-font: #ffffff;
  /* colores navbar */
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
}

.main {
  background-color: var(--bg-html);
  display: flex;
  flex-direction: column;
  align-items: center;
}
