.containerProject {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerProjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.titleProject {
  font-size: 2.5em;
  color: var(--enhanced-glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
}

.img {
  margin-left: 15px;
}
