.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $enhanced-glow-color;
  .line {
    width: 40vw;
    border-bottom: 1px solid $enhanced-glow-color;
  }
  .text {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
}
