.mainKnowMe {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
  .containerPaperText {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titleText {
      font-size: 5vh;
      color: $enhanced-glow-color;
      text-shadow: 0 0 0.5em $glow-color;
    }
    .containerText {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .text {
        width: 40vw;
        font-size: 2.5vh;
        color: $glow-color;
      }
    }
  }
  .line {
    width: 40vw;
    border-bottom: 1px solid $enhanced-glow-color;
  }
}

@media (max-width: 480px) {
  .mainKnowMe {
    width: 100vw;
    .containerPaperText {
      width: 90vw;
      .titleText {
        font-size: 3vh;
      }
      .containerText {
        .text {
          width: 90vw;
          font-size: 1.5vh;
        }
      }
    }
  }
}
