.mainKnowMe {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 3vw;
  padding-top: 3vw;
  .containerPaperText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titleText {
      font-size: 2.2em;
      color: $enhanced-glow-color;
      text-shadow: 0 0 0.5em $glow-color;
    }
    .containerText {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .text {
        width: 35vw;
        font-size: 1.1em;
        color: $glow-color;
      }
    }
  }
  .line {
    width: 40vw;
    border-bottom: 1px solid $enhanced-glow-color;
  }
  .containerDocs {
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .containerPaper {
      margin-top: 2vw;
      margin-bottom: 2vw;
      padding-left: 10vw;
      width: 30vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow-x: auto;
      .imgKnow {
        padding-left: 1vw;
        width: 200px;
        height: 150px;
      }
    }
  }
  .containerRrss {
    margin-top: 1vw;
    margin-bottom: 1vw;
    .iconsRrss {
      margin-left: 0.5vw;
    }
  }
}
