.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $enhanced-glow-color;
  .line {
    width: 600px;
    border-bottom: 1px solid $enhanced-glow-color;
  }
  .text {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
