.mainBody {
  width: 60vw;
  background: $bg-body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

/* mainBody{toda la página
  container{contiene los componentes
  }
} */

@media (max-width: 480px) {
  .mainBody {
    width: 100vw;
  }
}
