.mainBody {
  width: 60vw;
  background: $bg-body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

@media (min-width: 350px) and (max-width: 999px) {
  .mainBody {
    background: red;
  }
}
