.btn {
  border: 0.15em solid $glow-color;
  border-radius: 0.5em;
  color: $glow-color;
  font-size: 1em;
  font-weight: bold;
  background: $bg-body;
  text-shadow: 0 0 0.5em $glow-color;
  padding: 0.8vw 1.3vw 0.8vw 1.3vw;
  &:hover {
    color: $btn-color;
    background: $glow-color;
    box-shadow: 0 0 1em 0.25em $glow-color, 0 0 4em 2em $glow-spread-color,
      inset 0 0 0.75em 0.25em $glow-color;
  }
  &:active {
    box-shadow: 0 0 0.6em 0.25em $glow-color, 0 0 2.5em 2em $glow-spread-color,
      inset 0 0 0.5em 0.25em $glow-color;
  }
}
